@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  
  


  :root  {
    --background: 212 0% 95%;
    --foreground: 212 0% 0%;
    --card: 212 0% 90%;
    --card-foreground: 212 0% 10%;
    --popover: 212 0% 95%;
    --popover-foreground: 212 95% 0%;
    --primary: 212 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 10% 85%;
    --muted-foreground: 212 0% 35%;
    --accent: 174 10% 80%;
    --accent-foreground: 212 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 212 0% 90%;
    --border: 212 20% 50%;
    --input: 212 20% 18%;
    --ring: 212 100% 50%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 212 10% 5%;
    --foreground: 212 0% 90%;
    --card: 212 0% 0%;
    --card-foreground: 212 0% 90%;
    --popover: 212 10% 5%;
    --popover-foreground: 212 0% 90%;
    --primary: 212 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 10% 15%;
    --muted-foreground: 212 0% 60%;
    --accent: 174 10% 15%;
    --accent-foreground: 212 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 212 0% 90%;
    --border: 212 20% 18%;
    --input: 212 20% 18%;
    --ring: 212 100% 50%;
    --radius: 0.5rem;
  }
  
  


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    
  }
}

h1 {
  display: block;
  font-size: 2em;

  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
} 

h2 {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}