@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  
:root  {
  --background: 212 100% 95%;
  --foreground: 212 5% 0%;
  --card: 212 50% 90%;
  --card-foreground: 212 5% 10%;
  --popover: 212 100% 95%;
  --popover-foreground: 212 100% 0%;
  --primary: 212 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 212 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 174 30% 85%;
  --muted-foreground: 212 5% 35%;
  --accent: 174 30% 80%;
  --accent-foreground: 212 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 212 5% 90%;
  --border: 212 30% 50%;
  --input: 212 30% 18%;
  --ring: 212 100% 50%;
  --radius: 0.5rem;
}
.dark  {
  --background: 212 50% 5%;
  --foreground: 212 5% 90%;
  --card: 212 50% 0%;
  --card-foreground: 212 5% 90%;
  --popover: 212 50% 5%;
  --popover-foreground: 212 5% 90%;
  --primary: 212 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 212 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 174 30% 15%;
  --muted-foreground: 212 5% 60%;
  --accent: 174 30% 15%;
  --accent-foreground: 212 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 212 5% 90%;
  --border: 212 30% 18%;
  --input: 212 30% 18%;
  --ring: 212 100% 50%;
  --radius: 0.5rem;
}
}

@layer base {
  * {
    @apply border-border;
    outline-color: hsl(var(--primary));

  }
  body {
    @apply bg-background text-foreground;
    
  }
}

h1 {
  display: block;
  font-size: 2em;

  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
} 

h2 {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}